<% if active_sale? %>
    <p class="alert alert-info">
      There's an active <%= @active_sale.name %> sale going on!
      <strong>Everything is <%= @active_sale.percent_off %>% off!</strong>
    </p>
  <% end %>

<h3> About Us </h3>

<div class="about">
  <h1>WELCOME TO THE JUNGLE!</h1>
  <div class="boxes">
    <div class="card">
      <p>WE'VE GOT FUN AND GAMES</p>
      <img src="https://specials-images.forbesimg.com/imageserve/643422638/960x0.jpg?fit=scale" width="200" height "220">
      <p>WE GOT EVERYTHING YOU WANT HONEY,</p>
    </div>
    <div class="card">
      <p>WE KNOW THE NAMES</p>
      <img src="https://pyxis.nymag.com/v1/imgs/cd2/ec2/fba6dce9515dd154874748bebac0a1962b--22guns-n--roses-22.rsquare.w330.jpg" width="200" height "220">
      <p>WE ARE THE PEOPLE THAT CAN FIND WHATEVER YOU MAY NEED</p>
    </div>
    <div class="card">
      <p>IF YOU GOT THE MONEY,</p>
      <img src="https://static.spin.com/files/field/image/100114-guns-roses-main.jpg" width="200" height "220">
      <p>HONEY WE GOT YOUR DISEASE</p>
    </div>
  </div>
  <h1>JUNGLE, WELCOME TO THE JUNGLE</h1>
  <p>we sell things.</p>
</div>